nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #E8CFB0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

@media (max-width: 768px) {

    nav {
        flex-wrap: wrap;
    }

    .logo {
        height: 80px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        text-align: center;
        font-size: 28px;
    }

    .nav-links a:hover {
        background-color: #E8CFB0;
    }

    .nav-links .nav-cta-button {
        padding: 30px 16px;
        margin-left: 0;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .nav-links .nav-cta-button:hover {
        background-color: #E8CFB0;
    }
}